Source: mscore
Section: sound
Priority: extra
Maintainer: Junichi Uekawa <dancer@debian.org>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.2

Package: mscore
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: music score editor with Graphical User Interface.
 User can edit music score using mouse and keyboard. 
