[Desktop Entry]
Version=1.0
Comment=WYSIWYG Music score typesetter
Exec=mscore
GenericName=mscore
Icon=mscore
Name=MuseScore
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Audio;Sequencer;Midi;AudioVideoEditing;Music;AudioVideo;
