h1.head {
  margin: 0.05em 0.3em;
  font-family: Arial, helvetica, sans-serif;
  color: #091cef;
}

td.head {
  background: #aec3e8;
  color: #091cef;
}
td.nav {
  background: #aec3e8;
  color: #000;
}

td.ld {
  background: #aec3e8;
  width: 60pt;
  font-weight: bold;
  font-size: 10pt;
}
td.lh {
  background: #aec3e8;
}
td.lb {
  background: #ced1e2;
}

h3.navhead {
  margin-top: 0.2em;
  margin-bottom: 0em;
  font-family: Verdana, Geneva, Arial, sans-serif;
}

body  {
  background: #efefef;
  color: #000000;
  font-family: Arial, Geneva, sans-serif;
  font-size: 12pt;
}

b {
	font-weight: bold;
}

h1 {
	font-size: 24pt;
	font-weight: bold;
}
h2 {
	font-size: 18pt;
	font-weight: bold;
}

a {
	font-size: 12pt;
  background: none;
}

th {
	font-size: 10pt;

}

td {
	font-size: 12pt;
  color: #000000;
}

ul.nobullet {
  list-style-type: none;
}


/***Documentation Styles***/

kbd kbd {/*keyboard key*/
  font-style: italic;
  font-family: sans-serif;
  font-size: 0.85em;
  background-color: #e0e0dd;
  padding: 0px 4px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #ddd;
  margin: 0;
  -moz-border-radius: 0.3em;
}
kbd samp {/*menu  or menu item*/
  font-weight: bold;
  font-family: sans-serif;
  background-color: #dfdfdd;
  padding: 1px;
  border: 0;
  margin: 0;
}
samp {
  font-size: 0.85 em;
}

samp.mode {
  font-family: sans-serif;
  background-color: #b0bef2;
  padding: 1px 4px;
}
samp.button {
  border: 1px solid gray;
}
samp.menu, samp.submenu, samp.menuitem , samp.tab {
  background-color: #eee;
}